* {
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 199, 160);
}

main {
  margin: 50px, 10px, 50px, 10px;
  padding: 30px;
  background-color: rgb(241, 239, 235);
  position: relative;
}

.headerofpage {
  margin: auto;
  position: fixed;
  top: 0px;
  z-index: 0;
}
img {
  margin-left: 400px;
  border-radius: 25px;
  position: fixed;
  top: 1px;
  right: 10px;
}

section {
  margin: 50px 0 30px 0;
  padding: 20px;
}

p {
  line-height: 1.2;
}

.name {
  font-weight: 300;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
  border-bottom: 3px solid black;
  margin-left: 50px;
}

.nav {
  border: 10px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
